/* General */

#converter {
  font-size: 20px;
}

#converter select {
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

#currency1 {
  margin-left: .75em;
}

#result p {
  font-size: 24px
}

h3 {
  text-decoration: underline;
}
/* Mobile */

#mobile #converter {
  margin-top: 0!important;
}
