* {
  font-family: "Gill Sans", sans-serif;
}

/* Nav */

nav h2, h2 a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menuClosed {
  background: linear-gradient(to right, #1EA41E, #FFFFFF);
  border-bottom: 1px grey solid;
}

.menuOpen {
  background: linear-gradient(to bottom, #1EA41E, #FFFFFF);
  border-bottom: none;
  padding-bottom: 7em;
}

.menuOpen li a {
  font-size: 1.5em;
}

 nav a, nav h2 {
   color: white;
 }

 nav a:hover {
   color: #c0c0c0;
   text-decoration: none;
 }

 #mobileNav .navbar-toggler {
   border: 1px solid #555;
 }

/* Content */

#content {
  background-color: #F5F5F5;
}

#mobile #content {
  background-color: white;
}

#desktop {
  height: 85vh;
}

#mobile {
  height: 90vh;
}

#defaultText {
  font-size: 32px;
  opacity: 0.4;
}

#mobile #defaultText {
  font-size: 22px;
}

/* Footer (Desktop) */

footer {
  background-color: #808080;
}

footer li a, footer li a:hover {
  color: white;
}

footer i{
  color: white;
}

footer i:hover{
  color: #c0c0c0;
}
